{% extends "rest_framework/base.html" %}
{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" type="text/css">
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}

{% block title %}
API EO Analítica
{% endblock %}

{% block branding %}
    <h5 style="color: rgba(20,90,140)">
      <a href="http://www.eoanalitica.com/projects/">
          <img src="http://www.eoanalitica.com/static/hello/images/animation.gif" height="20" alt="">
          &nbsp;
          API <small><small> EO Analítica </small></small>
      </a>
    </h5>
{% endblock %}
